body {
  background-image: url("../img/ps_neutral.png");
  width: 80%;  
  margin: 0 auto;
}

.alert-link {
  color: black;
  text-decoration: underline;
}

.login {
  display: block;
  margin: 10px 0px 10px 100px;
  width: 15%;
  float:left;
}
.student_submit{
position: relative;
display: block;
top: 11px;
margin: 0 auto;
}
.student_reset{
position: relative;
display: block;
top: 11px;
margin: 0 auto;
}
.prof_submit {
  position: relative;
  display: block;
  top: 11px;
  margin: 0 auto;
  width: 50%;
}

legend {
  background-color: transparent;
}
form {
    
}

fieldset {
  background-color: white; 
}



.account {
  display: block;
  margin: 10% auto;
  width: 63%;
}
.Create_Prof_button{
  padding: 0px 0px 0px 0px;
}
.profpic{
  margin: 30px 0px 0px 170px;
} 
.create_directions{
  margin: 0px 0px 0px 100px;
}
.login_directions{
   margin: 0px 0px 10px 100px;
}
.Create_Student_button{
}

.welcome {
  color: #666;
  text-align: left;
  padding: 10px 0px 0px 100px;
}
.header {
  padding-left: 200px;
  padding-top: 10px;
}
requestblock{
 background:#fff;
}




